/* src/components/Maps/Maps.module.css */

.mapContainer {
  width: 800px;
  height: 400px; /* Puedes ajustar esta altura según tus necesidades */
  margin: 0 auto; /* Para centrar el mapa horizontalmente */
  border: solid #094195; /* Opcional: agregar un borde */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Opcional: agregar sombra */
  margin-bottom: 20px;
}
